*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font: italic 1.2em "Fira Sans", serif;
    background:rgb(78, 73, 73) ;
    color: #bdf7f2;
  }
  nav{
    background: rgb(58, 46, 46);
    height: 80px;
    width: 100%;
  }
  label.main{
    color: #bdf7f2;
    font: italic 1.2em "Fira Sans", serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    padding:10px
    font: italic 1.2em "Fira Sans", serif;
  }
  nav ul li a{
    color: #bdf7f2;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #dbeffd;
    transition: .5s;
    color:rgb(58, 46, 46);
  }
  
  .col-md-5 img{
    width:600px;
  }
  .block-a{
    font-size:17px;
  }
  .block-b{
    font-size:17px;
  }
  .content{
    margin:30px;
  }
  footer {
    background-color:rgb(42, 65, 73);
    padding:40px;
  
  }
  footer i{
    padding:10px;
  }